/*Index Css contains links to other Css files without clogging the main HTML file*/
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('map_settings.css');
@import url('ui_mobile.css');
@import url('ui_small.css');
@import url('ui_desktop.css');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto;
}

 /*
.content {
  background-color: #bbdaa4;
  overflow: scroll;
}
*/
