* {
  margin: 0;
}

body {
  background-color: #BBDAA4;
  font-family: "Roboto";
  font-size: 24px;
  top: 0;
  left: 0;
  right: 0;
}

#content {
  width: 100vw;
  position: fixed;
  overflow: hidden;
}

#myMaps {
  position: relative;
  height: 50em;
  width: auto;
  background-color: #BBDAA4;
  overflow: hidden;
}

#myMaps div {
  height: 50em;
  padding-left: 0;
  display: inline-block;
  margin: auto auto;
  width: 100em;
  align-self: center;
}

@media (hover:none), (hover:on-demand) {
	#content {
	  width: 100%;
	  position: fixed;
	  overflow: hidden;
	}

	#myMaps {
	  position: relative;
	  height: auto;
	  width: auto;
	  background-color: #BBDAA4;
	  overflow: hidden;
	}

	#myMaps div {
	  height: 100%;
	  padding-left: 0;
		padding-top: 40%;
	  display: relative;
	  margin: auto;
	  width: 160%;
	  align-self: center;
	}
  g.startPin path {
    fill: #64dd17;
    height: 200px;
  }
}

#controls {
  background-color: lightGrey;
  height: 50px;
  width: 100%;
  z-index: -1;
}

div#mapLoading {
  font-size: 20em;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}

.debugPath {
  stroke: orange;
  stroke-width: 5;
}

.debugRoom {
  fill: red;
  stroke: red;
  stroke-width: 4;
}

.wayfindingRoom {
  fill: blue !important;
  stroke: blue;
  stroke-width: 3;
  stroke-dasharray: 5 3;
}

g.startPin path {
  fill: #64dd17;
  height: 100px;
}

g.destinationPin path {
  fill: red;
  height: 80px;
}
