#content > div#floor1 {
	border: 1px solid black;
  height: 400px;
	width: 500px;
}

div#npbhs_map {
  display: inline-block;
  height: 400px;
	width: 500px;
	background-color: #BBDAA4;
  overflow: hidden;
  z-index: -1;
}
#npbhs_map div {
  display: inline-block;
	height: 400px;
	width: 500px;
}
#controls {
	background-color: lightGrey;
	height: 50px;
	width: 100%;
}

div#mapLoading {
	font-size: 10em;
	left: 50px;
	position: absolute;
	top: 60px;
	z-index: -1;
}

.debugPath {
	stroke: orange;
	stroke-width: 5;
}

.debugRoom {
	fill: red;
	stroke: red;
	stroke-width: 4;
}

.wayfindingRoom {
	fill: #ffc;
	stroke: blue;
	stroke-width: 2;
	stroke-dasharray: 5 3;
}

g.startPin path {
	fill: cyan;
}

g.destinationPin path {
	fill: green;
	height: 40px;
}
