* {
  margin: 0;
}

body {
  background-color: white;
  font-family: Arial;
  font-size: 24px;
  top: 0;
  left: 0;
  right: 0;
}

#content {
  border: 1px solid black;
  width: 100vw;
  position: fixed;
  overflow: hidden;
}

#myMaps {
  position: relative;
  height: 50em;
  width: auto;
  background-color: #BBDAA4;
  overflow: hidden;
}

#myMaps div {
  height: 50em;
  padding-left: 0;
  display: inline-block;
  margin: auto auto;
  width: 150em;
  align-self: center;
}

@media (hover:none), (hover:on-demand) {
	#content {
	  border: 1px solid black;
	  width: 100%;
	  position: fixed;
	  overflow: hidden;
	}

	#myMaps {
	  position: relative;
	  height: 35em;
	  width: auto;
	  background-color: #BBDAA4;
	  overflow: hidden;
	}

	#myMaps div {
	  height: 100%;
	  padding-left: 0;
		padding-top: 30%;
	  display: inline-block;
	  margin: auto;
	  width: 120%;
	  align-self: center;
	}
}

#controls {
  background-color: lightGrey;
  height: 50px;
  width: 100%;
  z-index: -1;
}

div#mapLoading {
  font-size: 10em;
  left: 50px;
  position: absolute;
  top: 60px;
  z-index: -1;
}

.debugPath {
  stroke: orange;
  stroke-width: 5;
}

.debugRoom {
  fill: red;
  stroke: red;
  stroke-width: 4;
}

.wayfindingRoom {
  fill: #ffc;
  stroke: blue;
  stroke-width: 2;
  stroke-dasharray: 5 3;
}

g.startPin path {
  fill: cyan;
}

g.destinationPin path {
  fill: green;
  height: 40px;
}
