/* large Desktop interface*/

@media screen and (min-width: 1181px) {
  .header {
    z-index: 1000;
    width: 100%;
    max-width: 100%;
    height: 1.75em;
    position: fixed;
    overflow: visible;
    background-color: #4a80f5;
    padding: .5em .5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: none;
  }
  .header a {
    float: left;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.6em;
    border-radius: .25em;
    background-color: white;
    color: gray;
    margin-right: 1em;
    vertical-align: middle;
  }

  .header a:hover {
     cursor: pointer;
  }

  .header a.logo {
    color: white;
    background-color: #4a80f5;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
  }
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  .quick-select {
    float: right;
    transform: translateX(-2.5em);
  }
  a.tag-quick-select {
    color: white;
    background-color: #4a80f5;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
  }
  i.material-icons.quick-select {
    padding-left: 0.2em;
    transform: translateX(0em);
    vertical-align: text-bottom;
  }
  i.material-icons.logo {
    vertical-align: text-bottom;
    font-size: 2rem;
  }
  .quick-select-mobile {
    display: none;
  }
  select#beginSelect.select-style {
    border: .1em solid #ccc;
    height: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 20em;
    font-size: 1rem;
    border-radius: .25em;
    overflow: hidden;
    background: #fafafa;

  }

  select > option {
    border-radius: .25em;
    margin-top: .5em;
    color: red;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 20em;
    font-size: 1rem;
    padding: .25em .5em;
    width: auto;
    background-color: red;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
  }
  .select-style select:focus {
    outline: none;
  }

  div.zoom_controller {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: #4a80f5;
    z-index: 1000;
    height: 4.25em;
    width: 2em;
    display: block;
    border-collapse: separate;
    overflow: hidden;
    border-radius: 0.25em;
    perspective: 1px;
  }

  div.zoom_controller > i {
    color: white;
    background-color: #4a80f5;
    font-size: 2em; !important
    font-weight: bold;
  }
  div.zoom_controller > i:hover {
    color: gray;
    cursor: pointer;
  }

  #dropdown {
    display: inline-block;
    padding: 0.25em;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    margin: auto;
    transform: translateX(-1.5em);
    right: 0;
    position: absolute;
    cursor: pointer;
    background: #fff;
    font-size: auto;
    color: #656565;
    font-weight: normal;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
  }

  #dropdown i.material-icons {
    font-size: 1.25em;
  }

  #dropdown:hover {
    color: #898989;
  }

  #dropdown.open {
    background: #5a90e0;
    color: #fff;
    border-left-color: #6c6d70;
  }

  #dropdown ul {
    position: absolute;
    list-style-type: none;
    top: 150%;
    width: 8em;
    padding: 0.5em;
    left: -7em;
    display: none;
    background: #fff;
    border-radius: 0.25em;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  #dropdown ul li {
    font-size: 1em;
    height: auto;
  }

  #dropdown ul li a {
    text-decoration: none;
    font-family: inherit;
    display: block;
    color: #447dd3;
    padding: 0.2em;
  }

  #dropdown ul li a:hover {
    color: #6fa0e9;
    background: #e7f0f7;
  }

  .nice-select.open .list {
    max-height: 50em;
    overflow-y: scroll;
  }
}
