@import url('https://fonts.googleapis.com/css?family=Rubik');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
}

.content {
  background-color: #bbdaa4;
  overflow: scroll;
}
img{
  height: 120%;
  object-fit: fill;
}

/* large interface*/

@media screen and (min-width: 851px) {
  .header {
    width: 100%;
    height: 5em;
    position: fixed;
    overflow: show;
    background-color: #4a80f5;
    padding: 1em .5em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .header a {
    float: left;
    font-family: "Rubik";
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.6em;
    border-radius: .25em;
    background-color: white;
    color: gray;
    margin-right: 1em;
    vertical-align: middle;
  }
  .header a.logo {
    color: white;
    background-color: #4a80f5;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
  }
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  .quick-select {
    float: right;
  }
  a.tag-quick-select {
    color: white;
    background-color: #4a80f5;
    font-family: "Rubik";
    font-weight: bold;
  }
  i.material-icons.quick-select {
    padding-left: 0.2em;
    vertical-align: text-bottom;
  }
  i.material-icons.logo {
    vertical-align: text-bottom;
    font-size: 1.2em;
  }
  .quick-select-mobile {
    display: none;
  }
  #dropdown {
  display:inline-block;
  padding: 0.5em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0;
  position: relative;
  cursor: pointer;
  background: #fff;
  font-size: 1em;
  color: #656565;
  font-weight: normal;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
#dropdown:hover { color: #898989; }

#dropdown.open {
  background: #5a90e0;
  color: #fff;
  border-left-color: #6c6d70;
}

#dropdown ul {
  position: absolute;
  top: 100%;
  width: 8em;
  padding: 0.5em;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
#dropdown ul li {
  font-size: 0.9em;
  height: auto;
 }

#dropdown ul li a {
  text-decoration: none;
  display:block;
  color: #447dd3;
  padding: 0.2em;
}
#dropdown ul li a:hover {
  color: #6fa0e9;
  background: #e7f0f7;
}
}

/*Small Interface*/

@media screen and (max-width: 850px) {
  .header {
    width: 100%;
    position: fixed;
    display: inline-block;
    padding: 0 .5em .5em;
    height: auto;
    background-color: #4a80f5;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .header a {
    float: none;
    display: inline-block;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.6em;
    border-radius: .25em;
    background-color: white;
    color: gray;
    margin-right: 0.5em;
    margin-top: .25em;
    vertical-align: middle;
  }
  .quick-select {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-align: center;
  }
  .header a.logo {
    vertical-align: bottom;
    color: white;
    background-color: #4a80f5;
    font-size: 1.7em;
    font-weight: bold;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    margin-top: 0.25em;
  }
  .quick-select-mobile {
    display: none;
  }
  i.material-icons.quick-select {
    padding-left: 0.2em;
    vertical-align: text-bottom;
  }
  a.tag-quick-select {
    color: white;
    background-color: #4a80f5;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
  }
}

/*Mobile Interface w/ Touch Device Detection*/

@media (hover:none), (hover:on-demand) {
  .header a.logo {
    color: white;
    background-color: #4a80f5;
    font-size: 4vh;
    text-align: center;
  }
  .header a {
    float: left;
    text-align: center;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.6em;
    border-radius: .25em;
    background-color: white;
    color: gray;
    margin-right: 1em;
    vertical-align: middle;
  }
  .quick-select {
    display: none;
  }
  .quick-select-mobile {
    display: block;
    padding: 0.5em .1em;
    background-color: #4a80f5;
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  .quick-select-mobile a{
    display: block;
    float: left;
    text-align: justify;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    text-decoration: none;
    font-size: 2.2vh;
    line-height: 4vh;
    border-radius: .25em;
    background-color: white;
    color: gray;
    margin: 0.15em;
    vertical-align: middle;
  }
  a.tag-quick-select {
    margin-top: 0.3em;
    color: white;
    background-color: #4a80f5;
    font-size: 2vh;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.15em;
    padding-right: 0.15em;
  }
  i.material-icons.quick-select {
    vertical-align:middle;
    font-size: 140%;
  }
}

}
